.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.botao {
    background-color: #d8eafd;
    color: #000;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #a9d3fa;
}