.containerMascote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    max-height: 200px; /* Reduzido de 280px para 200px */
    width: auto;
    object-fit: contain;
}