{% extends "template.html" %}
{% block cabecalho %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/loja.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script type="module" src="{{url_for('static', filename='js/loja.js')}}" defer></script>
{% endblock %}

{% block corpo %}
<div class="tela-loja-container">
    
    <div class="loja-header-actions">
        <div class="grupo-botoes-sair">
            <a href="{{ url_for('principal') }}" class="botao-sair-cancelar" title="Sair sem salvar">
                <i class="fa-solid fa-xmark"></i> Sair
            </a>
            
           <button class="botao-sair-salvar" title="Salvar compras e sair">
                <i class="fa-solid fa-floppy-disk"></i> Salvar
            </button>
        </div>

        <div class="saldo-usuario">
            <i class="fa-solid fa-coins" style="color: #ffd700;"></i>
            <span id="pontuacao">pontuação: {{ pontuacao }}</span>
        </div>
    </div>

    <h1 class="titulo-loja">Loja Pypo</h1>
    <p class="subtitulo-loja">Passe o mouse sobre os itens para ver os detalhes!</p>
    
    <div class="layout-loja-corpo">
        
        <aside class="secao-inventario">
            <h2><i class="fa-solid fa-box-open"></i> Meu Inventário</h2>
            
            <div class="inventario-cabecalho">
                <span class="txt-coluna">Item</span>
                <span class="txt-coluna">Qtd</span>
            </div>

            <div id="inventario-dados">
                {% for estoque in listaEstoque %}
                    <div class="item-inventario">
                        <span class="nome-item-inventario">{{ estoque.nome }}</span>
                        <span class="qtd-item-inventario">{{ estoque.qtd }}</span>
                    </div>
                {% endfor %}
            </div>
        </aside>

        <div class="grid-loja">
            <input type="hidden" id="item-id" value="{{ listaItens}}">
            {% for item in listaItens %}
            <div class="card-item">
                <div class="area-interativa">
                    <div class="icone-item">
                        <i class="fa-solid fa-glasses"></i>
                    </div>
                    <div class="descricao-item">
                        <p>{{ item.descricao }}</p>
                    </div>
                </div>
                <h3 class="nome-item">{{ item.nome }}</h3>
                <div class="preco-item">
                    <i class="fa-solid fa-coins"></i>
                    <span>{{ item.valor }}</span>
                </div>
                <button class="botao-comprar {{ item.idItem }}">Comprar</button>
            </div>
            {% endfor %}
        </div>
        <div id="flash-container"></div>

    </div>
</div>
{% endblock %}