<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/trilhaModulo.css') }}">
    <title>Trilha de Fases</title>
</head>
<script src="https://kit.fontawesome.com/74010bf13b.js" crossorigin="anonymous"></script>
<body>
    <nav class="sidebar">
        <div class="logo">PYPO</div>
        <ul class="menu">
            <li><a href="#aprender" class="active"><i class="fa-solid fa-user" style="color: rgb(116, 192, 252);"></i>perfil</a></li>
            <li><a href="#revisar"><i class="fa-solid fa-book" style="color: rgb(116, 192, 252);"></i>Revisar</a></li>
            <li><a href="#perfil"><i class="fa-solid fa-arrow-left" style="color: rgb(116, 192, 252);"></i>Voltar</a></li>
        </ul>
    </nav>
    <main class="content">
        <div class="path-container">
            <a href="#fase1" class="phase start center">
                <div class="bubble">1</div>
            </a>
            <a href="#fase2" class="phase left">
                <div class="bubble">2</div>
            </a>
            <a href="#fase3" class="phase right">
                <div class="bubble">3</div>
            </a>
            <a href="#fase4" class="phase center">
                <div class="bubble">4</div>
            </a>
            <a href="#fase5" class="phase left">
                <div class="bubble">5</div>
            </a>
            <a href="#fase6" class="phase right">
                <div class="bubble">6</div>
            </a>
        </div>
    </main>
</body>
</html>