body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at center, #4b5d68, #295c6d, #03536e);
    height: 100vh;

    margin: 0;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 30px 40px;
    width: 700px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    position: relative;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo {
    background-color: #3bb5fc;
    color: #000;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

#pergunta {
    background-color: #b5dcf8;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.botao {
    background-color: #d8eafd;
    color: #000;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #a9d3fa;
}

.dica {
    position: absolute;
    right: -200px;
    top: 50px;
    width: 200px;
    color: #000;
}

.dica img {
    max-width:400px;
    height: auto;
}

.cubo{
    width:40px;
    margin-right:10px;
}.acerto {
    background-color: #4caf50;
    color: white;
}
.acerto:hover {
    background-color: #45a049;
}

.erro{
    background-color: #f44336;
    color: white;
}
.erro:hover {
    background-color: #b92d2b;
}
.mascote {
    width: 100%;
}

.botao_continuar {
    display:flex;
    flex-direction:row;
    justify-content: end;
    margin:10px;
    margin-top:15px;
}

.botao_passar {
    border: none;
    background-color: #3bb5fc;
    border-radius: 20px;
    gap:15px;
    font-size: 1.2rem;
    padding: 12px;
}

.botao_passar:hover {
    background-color:#87CEFA;
}

.icon1 {
    font-size: 1.2rem;
}